body {
  background: #f4f6f9;
}

.card {
  border: none;
  border-radius: 18px;
}

.dark {
  background: #111827;
  color: white;
}

.dark .card {
  background: #1f2937;
  color: white;
}

.dark .form-control {
  background: #374151;
  color: white;
  border: 1px solid #6b7280;
}