body {
	background-color: #dcdcdc;
	text-align: center;
}
.caja {
	border: 10px solid #fdf5e6;
	border-radius: 30px;
	background-color: #fdf5e6;
	padding: 20px;
	margin: 50px;
	max-width: 50%; 
	width: fit-content;
}
p {
	font-size:140%;
}